<table align="center">
<tr><td>
<div align="center" style="background-image:url(/images/auto.gif); width:800px; height:454px;">
<% form_tag :action=> "login" do %>
<div style="position: relative; left: 230px; top: 300px;">
<label for="user_login"><font size=2>用户名:</font></label><br/>
<%= text_field "user", "login", :size => 20 %><br/>

<label for="user_password"><font size=2>密码:</font></label><br/>
<%= password_field "user", "password", :size => 20 %><br/>

<%= submit_tag "确认登录" %>
<% end %>
</div>
</div>
</td></tr></table>
